/* ----------- 💫 https://github.com/syndr/hyprland-wm-config 💫 -------- */
/* wallust-wlogout */

/* Importing wallust colors */
@import '../../.config/waybar/wallust/colors-waybar.css';

window {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    color: @foreground; /* text */
    background-color: rgba(0, 0, 0, 0.85);
}

button {
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 26%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 40px;
	border:0px;
	outline-style: none;
}

button:focus {
    background-size: 34%;
	border: 0px;
	outline-style: none;

}

button:hover {
    background-color: transparent;
    color: #ff3b3b;
    background-size: 34%;
    margin: 10px;
    border-radius: 40px;
    outline-style: none;

}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em;
    font-weight: bold;
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
