/* ---- 💫 https://github.com/syndr/hyprland-wm-config 💫 ---- */
/* Ja KooLit - Global rofi fonts */

/* This is where you can change fonts and sizes */


/*****-- Fonts Size and Font Size -----*****/
configuration {
  font: "ShureTechMono Nerd Font SemiBold 15";
}


/*****-- Elements Font Size -----*****/
element-text {
  font: "Monoid Nerd Font SemiBold 13";
}
