/* ---- Global Configuration Fonts ---- */
@import "~/.config/rofi/0-shared-fonts.rasi"

/* ---- Configuration ---- */
configuration {
  show-icons: true;
}

/* Theme - use rofi theme selector (SUPER CTRL R) to change */
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/share/rofi/themes/base16-greenscreen.rasi"
